body {
  font-family: 'roboto', sans-serif;
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden;
  color: #ffffff;
  background-color: #0a0a0a;
}

/* nav Bar */
.navbar {
  background-color: #0a0a0a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.navbar-logo img {
  width: 300px;
  height: 90px;
  border-radius: 20px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-menu li a:hover{
  color: #df0606;
  text-decoration: none;
  font-size: 18px;
}

.login-btn a {
  padding: 10px 15px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(190, 1, 1, 0.829);
  transition: box-shadow 0.3s ease;
  margin-right: 55px;
}

.login-btn a:hover{
  background-color: #df0606 ;
  box-shadow: 0 4px 8px rgba(190, 1, 1, 0.829); 
  
}

/* Header */
.main-header {
  background-color: #0a0a0a;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar{
  display: flex;
  align-items: center;
  margin-left: 420px;
}

.search-bar input[type="text"] {
  font-family: 'roboto', sans-serif;
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #f70515;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover{
  background-color: #df0606;
}
.red-line {
  width: 100%;
  height: 4px;
  background: #aa0000;
  margin-bottom: 20px;
}

/* About us Banner */
.aboutus-banner img{
  width: 100%;
  height: 250px;
}