/* Global Styles */
body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0 !important;
    overflow-x: hidden;
    color: #ffffff;
    background-color: #0a0a0a;
  }
  
  .red-line {
    content: "";
    position: relative; 
    left: 0;
    right: 0;
    height: 4px;
    background: #aa0000;
  }
  

  /* Custom Scroller */
::-webkit-scrollbar {
  width: 8px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #f70515;
}
