/* Global Styles */
body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0 !important;
    overflow-x: hidden;
    color: #ffffff;
    background-color: #0a0a0a;
  }
  
  /* Header */
  .main-header {
    background-color: #0a0a0a;
    padding: 10px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    width: 300px;
    height: 90px;
    border-radius: 20px;
  }
  
  .search-bar form {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    font-family: 'roboto', sans-serif;
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #f70515;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover{
    background-color: #df0606;
  }
  
  .login-btn a {
    padding: 10px 15px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(190, 1, 1, 0.829);
    transition: box-shadow 0.3s ease;
  }
  
  .login-btn a:hover{
    background-color: #df0606 ;
    box-shadow: 0 4px 8px rgba(190, 1, 1, 0.829); 
  }
  

.forgot-password-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-container h2 {
    padding-bottom: 20px;
    text-align: center;
}

.forgot-password-container form {
    background-color: #0a0a0a;
    padding: 75px 120px;
    border-radius: 20px;
    box-shadow: 0 14px 14px rgba(190, 1, 1, 0.829);
    transition: box-shadow 0.3s ease;
    animation: shadowMove 2s infinite alternate;
}

/* CSS animation keyframes for moving the box-shadow */
@keyframes shadowMove {
    0% {
        box-shadow: 0 4px 4px rgba(190, 1, 1, 0.500);
    }
    100% {
        box-shadow: 0 4px 4px rgba(190, 1, 1, 2.829);
    }
}

.forgot-password-container label {
    margin-bottom: 10px;
}

.forgot-password-container input[type="email"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password-container button {
    background-color: transparent;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(190, 1, 1, 0.829);
    transition: box-shadow 0.3s ease;
    display: block; 
    margin: 0 auto; 
}

.forgot-password-container button:hover {
    background-color: #df0606;
    box-shadow: 0 4px 10px rgba(190, 1, 1, 0.829);
}

.forgot-password-container p {
    text-align: center;
    margin-top: 20px;
}

.forgot-password-container p a {
    color: #df0606;
    text-decoration: none;
    padding: 20px 2px;
}



