/* Global Styles */
body {
  font-family: 'roboto', sans-serif;
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden;
  color: #ffffff;
  background-color: #0a0a0a;
}

/* Header */
.main-header {
  background-color: #0a0a0a;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 300px;
  height: 90px;
  border-radius: 20px;
}

.search-bar form {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  font-family: 'roboto', sans-serif;
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #f70515;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover{
  background-color: #df0606;
}

.login-btn a {
  padding: 10px 15px;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(190, 1, 1, 0.829);
  transition: box-shadow 0.3s ease;
}

.login-btn a:hover{
  background-color: #df0606 ;
  box-shadow: 0 4px 8px rgba(190, 1, 1, 0.829); 
}

/* Banner */
.banner-section {
  background: url("../images/Banner1.webp") center center no-repeat;
  background-size: cover;
  padding: 160px 0;
  position: relative;
}

.banner-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: #aa0000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-md-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;

}

.content {
  padding: 20px;
}

.content h1 {
  font-size: 36px;
  font-weight: bold;
}

.content p {
  font-size: 18px;
}

.custom-button {
  padding: 10px 20px;
  background-color: #f70515;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;

}

.custom-button:hover {
  background-color: #d20412;
}

/* Banner Image Box Styles */
.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.image-box img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}


/* Popular Products */
h1{
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
  font-size: 50px;
  text-transform: capitalize;
}
.popular-products{
  display: flex;
  mix-blend-mode: screen;
  justify-content: center;
}

.product-card{
  background-color: #020202;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
}
.product-card img{
  max-width: 100%;
  border-radius: 8px;
}
.product-card h3{
  margin-top: 50px;
  font-size: 16px;
  color: #fff;
  text-align: initial;
}
.product-card p{
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
  text-align: initial;
}
.product-card .read-more {
  display: block;
  text-align: center;
  color: #d20412;
  text-decoration: none;
  margin-top: 10px;
}
.product-card .read-more:hover {
  text-decoration: underline;
}

.product-card .read-more {
  display: block;
  text-align: center;
  color: #d20412;
  text-decoration: none;
  margin-top: 10px;
}

.product-card .read-more:hover {
  text-decoration: underline;
}

.product-description {
  max-height: 60px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  position: relative;
}

.product-description:after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #0a0a0a;
  padding: 0 5px;
}

.show-full-text {
  max-height: none !important;
}


.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.show-full-text {
  -webkit-line-clamp: initial;
}

.read-more {
  color: #d20412;
  text-decoration: line-through;
  cursor: pointer;
}
































/* Custom Scroller */
::-webkit-scrollbar {
  width: 8px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #f70515;
}
